/*
	Autor:Halleh Noor-salehi,Kitty Mork, Sasan Pournouri
	Date:2019-07-07
	Comp 1950-Web Developement-Group Project
*/
@import url("normalize.css");
/* define mixins to group styles together */
/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 2rem;
}

h2,
header {
  box-shadow: 5px 5px 10px gray;
  border-radius: 90px;
  padding: 10px;
  border: 1px solid black;
  margin: 15px;
  background-color: #9fd3ff;
}

h4 {
  box-shadow: 5px 5px 10px gray;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid darkred;
  margin: 15px;
  background-color: lightgray;
}

article {
  box-shadow: 15px 15px 10px gray;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid darkred;
  margin: 15px;
  background-color: lightgray;
}

.col-md-6 {
  width: 200px;
  height: 100px;
  border: 2px solid red;
  background-color: pink;
  box-shadow: 5px 5px 10px darkred;
  border-radius: 30px;
  padding: 10px;
}
