/*
	Autor:Halleh Noor-salehi,Kitty Mork, Sasan Pournouri
	Date:2019-07-07
	Comp 1950-Web Developement-Group Project
*/
@import url("normalize.css");
$primary_color: gray;
$secondary_color: darkred;
$accent_color: #3b5177;
$reverse_color :white;
$off_white:#f5f4ed;
$heading_color:#a2c9b9;
$nav-link_color:#007bff;
$list_color:#004085;
$list_back-color:#9fcdff;
$list_color:#383d41;
$list_background-color:#d6d8db;
/* define mixins to group styles together */
@mixin containerbox {
    border: 1px solid $secondary_color;
    background-color:$off_white;
    padding:2px;  
    margin:5px;

  }
//mixins can accept parameters to allow for dynamic customization 
@mixin shaded-box($xoffset, $yoffset, $rounded-corners){
  box-shadow:$xoffset $yoffset 10px $primary_color;	  
  border-radius:$rounded-corners;
  padding:5px;	
  border:1px solid black;
  margin:5px;
  background-color:$heading_color;
}
@mixin header-box($xoffset, $yoffset, $rounded-corners){
    box-shadow:$xoffset $yoffset 10px $primary_color;	  
    border-radius:$rounded-corners;
	
    border:1px solid black;
    
    background-color:$list_background-color;
  }
  /* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 2rem;
  }
  html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }
 /* 
flexbox makes a sticky footer easy to implement
*/
#wrapper{
	/* first apply flex box layout to the wrapper */
	display: flex;
	/* min-height:100vh will keep the page content at least
	   as tall as the browser, but allow it to be taller */		
	min-height: 100vh;
	/* a simple single column stack will do for the basic layout */
	flex-direction: column;
}
 
h2{  
  @include shaded-box(5px, 5px, 40px);  
  text-align: center;
}
article{
  @include shaded-box(15px, 15px, 5px);  
}
//use @include to apply a set of styles 
.col-md-6{  
  @include containerbox;
      
}
.navbar-brand {
    background-color: $accent_color;
    color:$reverse_color;
}
.navbar-brand:hover{
    background-color: $reverse_color;
         color :$accent_color;
         border:1px solid $accent_color;
    }

.nav-link:hover{
color:$reverse_color;
background-color:$nav-link_color;
}
.col-md-4 div{
    @include containerbox;
    margin-left:2px;
}

main{
    /* 
   since the flex-direction is a vertical column
       flex:1;
   will ensure main takes up all available space 
   this will push the footer to the bottom of the page
   when the content in main wouldnt otherwise 	
   
   if content in main is taller then the browser, 
   main will push the footer to the bottom of the page scroll
   */
   flex: 1;
}
@media print {
	*{
		margin:0px;
		padding:0px;
		background-color: white;
	}
	/* display fully qualified hyperlink URLs */
	a[href^="http"]:after{
		content:" URL: (" attr(href) ") ";		
	}
	/* hide navigation */
	nav,img,aside {
		display:none;
	}
	/* never end a page with a heading */
	h1, h2, h3, h4, h5, h6{
		page-break-after:avoid;
	}
	/* 
	start new page with each container div
	(but dont page break with the first container)
    */
    .container div ~ .container div {
		page-break-before:always;
	}

}
#header  {
@include header-box(10px,10px , 5px);
}